$primaryColor: #4527a4;

.wp-block-tsb-team-card-flip-pro {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	.bBlocksTestPurpose {
		// display: inline-block;
		p{
			padding: 10px;
			border-radius: 10px;
		}
		
	}

	.icon {
		font-style: inherit;
	}

	img {
		width: 100%;
		max-width: 100%;
	}
}
